streamlit==1.29.0
pandas==1.5.3
spacy==3.5.0
scikit-learn==1.2.2
pdfminer.six==20221105
python-docx==0.8.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
